#body {
text-align: center;
display: flexbox;
justify-content: space-between;
background: linear-gradient(180deg, #65DAD1 0%, #27657E 100%);
}

#mainheader {

}

.question {

}

.info {

}

#Bibliography {
    text-align: left;
  
}